In [1]:
print(1111)

1111

In [2]:
print('안녕하세요')

안녕하세요

---
# 문장을 한줄로 표현하고 싶을 때  (;)

In [3]:
print('안녕');print('test')

안녕
test

---
#  주석을 사용하고 싶을 때  한줄주석(#)

In [5]:
# 안녕하세요
# print('안녕')

---
# 주석을 사용하고 싶을 때 문단주석(''' ''')

In [32]:
"""print(111)
안녕하세요
"""

'print(111)\n안녕하세요\n'

---
# Escape문자
- \n new line(새로운 줄로 이동)
- \t tab(탭 크기만큼 이동)
- \\" ("출력함)
- \\' ('출력함)

In [19]:
print('Hello Python');
print('Hello \nPython');
print('재밌는');print('Python')

Hello Python
Hello
Python
재밌는
Python

In [23]:
print("\'")

'

In [26]:
print('안\n녕\n하\n세\n요')

안
녕
하
세
요

In [28]:
print('Hello'
     'python'
     'start')

Hellopythonstart

In [29]:
print('hello\n'
     'python\n'
     'start')

hello
python
start

In [30]:
print('''안녕하세요
python
입니다''')

안녕하세요
python
입니다

In [34]:
print('''저의 이름은 이창현입니다
      저의 나이는 20살 입니다
      주소는 산골자기 입니다''')

저의 이름은 이창현입니다
      저의 나이는 20살 입니다
      주소는 산골자기 입니다

In [35]:
print('저의 이름은 이창현입니다\n저의 나이는 26살 입니다\n주소는 산골자기 입니다')

저의 이름은 이창현입니다
저의 나이는 26살 입니다
주소는 산골자기 입니다

In [36]:
print('저의 이름은 이창현입니다\n'
      '저의 나이는 26살 입니다\n'
     '주소는 산골자기 입니다')

저의 이름은 이창현입니다
저의 나이는 26살 입니다
주소는 산골자기 입니다

In [37]:
print('have\ta\tgood\ttime')

have	a	good	time

#### 파이썬에서는 글자를 적을 때 공백을 기본적으로 8칸을 잡는다
#### 그래서 \t를 쓰면 글자수에 따라 공백의 차이가 생긴다
#### \t 사용 용도는 주소/ 이름 /전화번호 같이 일정하게 줄 맞춤을 하고 싶을 때 사용

In [38]:
print('1234567\t1\t12345678\t123')

1234567	1	12345678	123

#### 따옴표 안에 또 다른 문자를 사용하고 싶으면 \사용

In [40]:
print("쌍 따옴표\"")
print("홋 따옴표''''")
print('쌍 따옴표"')
print('홋 따옴표\'')

쌍 따옴표"
홋 따옴표''''
쌍 따옴표"
홋 따옴표'

In [41]:
print('표현 \\2 방식')
print('표현 방식\\')

표현 \2 방식
표현 방식\

In [51]:
print('\t   #### 회비 정보 ####\n'
     '========================================\n'
     '이름\t나이\t전화번호\t회비\n'
     '========================================\n'
     '홍길동\t"15"\t010-123-1234\t\\20,000\n'
     '임꺽정\t"20"\t010-234-2345\t\\30,000\n'
     '김말이\t"28"\t010-345-3456\t\\50,000\n'
     '----------------------------------------\n'
     '총합계\t\t\t\t\\100,000\n'
     '========================================\n'
     )

	   #### 회비 정보 ####
========================================
이름	나이	전화번호	회비
========================================
홍길동	"15"	010-123-1234	\20,000
임꺽정	"20"	010-234-2345	\30,000
김말이	"28"	010-345-3456	\50,000
----------------------------------------
총합계				\100,000
========================================

In [72]:
print(123+123)
print(542-242)
print(2*123)
print(120/3)

246
300
246
40.0

In [74]:
print('덧셈 결과:',123+123)
print('뺄셈 결과:',542-242)
print('곱셈 결과:',2*123)
print('나눗셈 결과:',120/3)

덧셈 결과: 246
뺄셈 결과: 300
곱셈 결과: 246
나눗셈 결과: 40.0

In [76]:
print('12+54=',12+54,'입니다')
print('268-42=',268-42,'입니다')
print('2*23=',2*23,'입니다')
print('120/3=',120/3,'입니다')

12+54= 66 입니다
268-42= 226 입니다
2*23= 46 입니다
120/3= 40.0 입니다

In [77]:
print('12+54={}입니다'.format(12+54))
print('268-42={}입니다'.format(268-42))
print('2*23={}입니다'.format(2*23))
print('120/3={}입니다'.format(120/3))

12+54=66입니다
268-42=226입니다
2*23=46입니다
120/3=40.0입니다

In [95]:
print('12+54={}입니다'.format(12+54))
print('268-42={}입니다'.format(268-42))
print('2*23={}입니다'.format(2*23))
print('120/3={:.0f}입니다'.format(120/3))

12+54=66입니다
268-42=226입니다
2*23=46입니다
120/3=40입니다

In [91]:
print('{:.2f}'.format(3))

3.00

In [2]:
print('2진수:',bin(0b01111011))
print('8진수:',oct(0b01111011))
print('16진수:',hex(0b01111011))
print('10진수:',0b01111011)

2진수: 0b1111011
8진수: 0o173
16진수: 0x7b
10진수: 123

---
# 서식 문자
- %d 10진 정수
- %o 8진 정수
- %x 16진 정수
- %f 실수
- %c 단일 문자
- %s 문자열

In [5]:
print('%d'%123)
#print('%d%d'%123) 에러 발생
#print('%d'%(123,321)) 에러 발생
print('%d%d'%(123,321))
print('%d+%d=%d'%(123,321,123+321))

123
123321
123+321=444

In [12]:
print('\n실수 표현 : %f'% 456)
print('실수 표현 : %.2f'%456.456)
print('실수 표현 : %.2f %.1f'%(456.456,123.123))

실수 표현 : 456.000000
실수 표현 : 456.46
실수 표현 : 456.46 123.1

In [17]:
print('문자 표현 : %c %c'%('한','글'))
print('문자 표현 : %c %c'%('표','현'))

print('\n문자열 표현 : %s'%'안녕')
print('문자열 표현 : %s\t%s'%('문자열','표현방식'))

문자 표현 : 한 글
문자 표현 : 표 현

문자열 표현 : 안녕
문자열 표현 : 문자열	표현방식

---
# 서식 지정

In [25]:
print('기본 값: %d'%123)
print('기본 값: %5d'%123)
print('기본 값: %05d'%123)
print('기본 값: %5d%5d'%(123,123))
print('기본 값: %-5d%-5d'%(123,123))
print('기본 값: %d%d'%(123,123))

기본 값: 123
기본 값:   123
기본 값: 00123
기본 값:   123  123
기본 값: 123  123
기본 값: 123123

---

In [26]:
print('기본 값 : %f'%123.45678)
print('설정 값 : %10.3f'%123.45678)
print('설정 값 : %2.1f'%123.45678)
print('설정 값 : %.2f'%123.45678)

기본 값 : 123.456780
설정 값 :    123.457
설정 값 : 123.5
설정 값 : 123.46

In [1]:
print('기본 값 : %s'% 'python test')
print('설정 값 : %20s'% 'python test')

기본 값 : python test
설정 값 :          python test

In [12]:
print('======== 출력 결과 ========\n'
     '\n'
     '이름\t: %s'%'홍길동','\n'
     '나이\t: %d'%20,'\n'
     'Tel\t: %03d-%d-%d'%(10,1234,1234),'\n'
     '키\t: %.1f'%178.5,'\n'
     '몸무게\t: %d'%75,'\n'
     '혈액형\t: %s'%'O')

======== 출력 결과 ========

이름	: 홍길동
나이	: 20
Tel	: 010-1234-1234
키	: 178.5
몸무게	: 75
혈액형	: O