In [2]:
str_='have a nice day'
for i in str_:
    print(i)

h
a
v
e

a

n
i
c
e

d
a
y

In [3]:
arr=str_[7:11]
print(arr)
print(str_)

nice
have a nice day

In [4]:
Str='have a'
Str+='nice day'
print(Str)
print(Str*3)

have anice day
have anice dayhave anice dayhave anice day

In [10]:
Str.upper()
Str.lower()
Str.swapcase()
Str.title()

'Have Anice Day'

In [12]:
ch='NevEr-eVer 110glVe up'

ch.title()

'Never-Ever 110Glve Up'

In [13]:
st='Have a nice day'
print(st.count('a'))

3

In [18]:
st='It is a fun Python class'
st.count('a')

2

In [25]:
st.find('class')
#st.index('class')

19

In [27]:
st='have a nice day'

print(st.find('a'))
print(st.find('a',2))
print(st.find('a',6))
print(st.find('a',14))

1
5
13
-1

In [32]:
st='Have a nice day Have a nice day Have a nice day'
bins=[]
k=st.find('a')
for id_,i in enumerate(st):
    if i =='a':
        bins.append(id_)
        
print(bins)

[1, 5, 13, 17, 21, 29, 33, 37, 45]

In [28]:
st='Have a nice day Have a nice day Have a nice day'
st.find('a',0)

1

In [43]:
st='\t파이썬\t'
print('=====',st,'=====')
print(st.strip())

===== 	파이썬	 =====
파이썬

In [40]:
print(st.strip()=='파이썬')

True

In [45]:
print(st.strip().strip('파'))

이썬

In [46]:
st='2015/04/02'

print(st)
print(st.replace('/','.'))
print(st.replace(st[0:4],'2017'))

2015/04/02
2015.04.02
2017/04/02

In [47]:
st="""
오늘 하루도 즐겁게
오늘 하루도 행복하게
오늘 하루도 최선을"""
print(st)

오늘 하루도 즐겁게
오늘 하루도 행복하게
오늘 하루도 최선을

In [56]:
st='''
김개똥 -2017년 03월 24일
홍길동구리 -2015년 04월 02일
선우선녀 -2018년 05월 14일
'''
st=st.replace('-',':').replace('2017','1999').replace('2018','1999').replace('2015','1999')
print(st)

김개똥 :1999년 03월 24일
홍길동구리 :1999년 04월 02일
선우선녀 :1999년 05월 14일

In [58]:
st='Never ever give up'

print(st)
print(st.split())

Never ever give up
['Never', 'ever', 'give', 'up']

In [59]:
st='하나:둘:셋'
print(st)
print(st.split(':'))

st='일,이,삼'
print(st.split(','))

하나:둘:셋
['하나', '둘', '셋']
['일', '이', '삼']

In [62]:
st='Never ever give up'
print('st:',st)
print('st.splitline():',st.splitlines())
st='''Never ever give up
Never ever give up'''

print(st.splitlines())
st='하나\n둘셋'
st.splitlines()

st: Never ever give up
st.splitline(): ['Never ever give up']
['Never ever give up', 'Never ever give up']

['하나', '둘셋']

In [67]:
Str='123'
print('ss'.join(Str))
print(Str.join("%a"))

1ss2ss3
%123a

In [73]:
Str='python'
print(Str)
print(Str.center(10))
print(Str.center(10,'-'))
print(Str.ljust(10))
print(Str.rjust(10))
print(Str.zfill(10))

python
  python
--python--
python
    python
0000python

In [101]:
accountBook='shoes 03/02 59000, coffee 03/03 2500, food 03/04 7000, dress 03/13 130000'
list_=accountBook.split(',')
list_=[i.strip() for i in list_]
list__=[]
for i in list_:
    list__.append(i.split(' '))
list__
print('item\tdate\t$(price)\n')
for k in list__:
    for id_,j in enumerate(k):
        if id_==2:
            j='$'+j
        print(j,end='\t')
    print('\n')

item	date	$(price)

shoes	03/02	$59000

coffee	03/03	$2500

food	03/04	$7000

dress	03/13	$130000

In [9]:
Str='python te12st 1234'
print(Str.isdigit())
print(Str[9:11].isdigit())
print(Str.isalpha())
print(Str[:6].isalpha())
print(Str.isalnum())
print(Str[7:13].isalnum())
print(Str.islower())
print(Str.isupper())
print(Str.isspace())

False
True
False
True
False
True
True
False
False

In [40]:
info="""
jo 9abc08-3022023
cho 900402-1011232
test 1234567-1234567
lee 980908-3a2b0c3
kim 900514-2022023"""

a=[]
b=[]
for i in info.strip().split('\n'):
    a.append(i.split(' ')[0])
    b.append(i.split(' ')[1])

for id_,k in enumerate(b):
    if k.split('-')[0].isdigit()==True:
        if k.split('-')[1].isdigit()==True:
            if len(k.split('-')[0])==6:
                x=k.split('-')[0]
                y=k.split('-')[1]='*******'
                b[id_]=x+"-"+y
                

for i in zip(a,b):
    print(list(i))

['jo', '9abc08-3022023']
['cho', '900402-*******']
['test', '1234567-1234567']
['lee', '980908-3a2b0c3']
['kim', '900514-*******']