# Type
- int : 정수형
- float : 실수형
- str : 문자형
- bool : 불형 ->참 또는 거짓

###### type 함수르 통해 알 수 있는 것
- 나중 데이터 전처리 시 numerial한 값과 categorical한 값을 구분할 수 있다

In [1]:
num=100
print('type: %s'%type(num))
fit=321.321
print('type:%s'%type(fit))
ch='A'
print('type:%s'%type(ch))
st='test'
print('type:%s'%type(st))

type: <class 'int'>
type:<class 'float'>
type:<class 'str'>
type:<class 'str'>

In [2]:
num=100
print('type:%s\tid: %s'%(type(num),id(num)))
num=321.321
print('type:%s\tid: %s'%(type(num),id(num)))
num='A'
print('type:%s\tid: %s'%(type(num),id(num)))
num='test'
print('type:%s\tid: %s'%(type(num),id(num)))

type:<class 'int'>	id: 140713114996768
type:<class 'float'>	id: 2323413405792
type:<class 'str'>	id: 2323372706816
type:<class 'str'>	id: 2323374956760

In [4]:
a=100
b=100
print(id(a))
print(id(b))

140713114996768
140713114996768

In [8]:
st1='Python'
st2='Test'
su=100
fit=1.11
num='100'

print(fit+su)
print(st1+st2)
print(str(su)+num)

101.11
PythonTest
100100

In [9]:
su=100
print('type(su):',type(su))
print('tpye(str(su))',type(str(su)))
print('type(float(su))',type(float(su)))

type(su): <class 'int'>
tpye(str(su)) <class 'str'>
type(float(su)) <class 'float'>

---
# Quiz

In [11]:
su=100
num='100'
fit='1.111'
print(su+int(num))
print(int(num)+float(fit))
print(str(su)+str(num))

200
101.111
100100

---
# Input
- input으로 값을 받으면 , 그 값은 문자형(str)이다

In [12]:
print('숫자 입력')
num1=input()
print('입력 받은 값',num1)

숫자 입력
1
입력 받은 값 1

In [4]:
print("'이름 입력'")
name=input()
print("'나이 입력'")
age=input()
print('홍길동 님의 나이는 %d살 입니다'%int(age))

'이름 입력'
홍길동
'나이 입력'
26
홍길동 님의 나이는 26살 입니다

In [8]:
print('두 수의 합을 구해 줍니다.')
print('두 수 입력')

num1=input()
num2=input()
num3=int(num1)+int(num2)
print('두 수의 합',num1,'+',num2,'=',num3)

print('num1 type:',type(num1))
print('num2 type:',type(num2))
print('num3 type:',type(num3))

두 수의 합을 구해 줍니다.
두 수 입력
1
2
두 수의 합 1 + 2 = 3
num1 type: <class 'str'>
num2 type: <class 'str'>
num3 type: <class 'int'>

In [9]:
num1=int(input())
num2=int(input())

result=num1+num2
print(num1,'+',num2,'=',result)

1
2
1 + 2 = 3

In [10]:
name=input('이름을 입력하세요:')
age=input('나이를 입력하세요:')
addr=input('주소를 입력하세요:')
print('이름:',name,'\n나이:',age,'\n주소:',addr)

이름을 입력하세요:홍길동
나이를 입력하세요:26
주소를 입력하세요:종로
이름: 홍길동
나이: 26
주소: 종로

In [14]:
this_year=int(input('올해의 년도를 4자리로 입력하세요:'))
born_year=int(input('당신이 내어난 년도를 4자리로 입력하세요:'))
print('당신의 나이는 %d'%(this_year-born_year+1))

올해의 년도를 4자리로 입력하세요:2020
당신이 내어난 년도를 4자리로 입력하세요:1995
당신의 나이는 26

In [16]:
first_lug=float(input('첫 번째 물건의 무게를 입력하시오 : '))
second_lug=float(input('두 번째 물건의 무게를 입력하시오 : '))

print('현재 엘리베이터에 허용무게는 %.2f'%(600-first_lug-second_lug))

첫 번째 물건의 무게를 입력하시오 : 64.27
두 번째 물건의 무게를 입력하시오 : 75.25
현재 엘리베이터에 허용무게는 460.48

In [20]:
height=float(input('키를 입력하세요:'))
weight=float(input('현재 체중을 입력하세요:'))
standard_weight=(height-100)*0.9
criteria_fat=(weight/standard_weight)*100
print('표준체중은 %.2f 이고 비만도는 %.2f 입니다. '%(standard_weight,criteria_fat))

키를 입력하세요:174.9
현재 체중을 입력하세요:73
표준체중은 67.41 이고 비만도는 108.29 입니다.

In [26]:
student_name=input('이름:')
Korean=int(input('국어점수:'))
English=int(input('영어점수:'))
Math=int(input('수학점수:'))
sum_=Korean+English+Math
mean_=sum_/3
print('================= 학생 정보 =================\n'
     '이름\t국어\t영어\t수학\t합계\t평균')
print(student_name,'\t',Korean,'\t',English,'\t',Math,'\t',sum_,'\t',round(mean_,2))

이름:김개똥
국어점수:1
영어점수:2
수학점수:2
================= 학생 정보 =================
이름	국어	영어	수학	합계	평균
김개똥 	 1 	 2 	 2 	 5 	 1.67