# 산술연산자

In [1]:
num1=9;num2=2

print(num1,'//',num2,'=',num1//num2)
print(num1,'%',num2,'=',num1%num2)
print(num1,'**',num2,'=',num1**num2)

9 // 2 = 4
9 % 2 = 1
9 ** 2 = 81

---
# 관계연산자

In [2]:
su1=3.1
su2=3
print('su1>=su2:',(su1>=su2))
print('su1<=su2:',(su1<=su2))
print('su1==su2:',(su1==su2))
print('su1!=su2:',(su1!=su2))

su1>=su2: True
su1<=su2: False
su1==su2: False
su1!=su2: True

In [4]:
su1=su2=5
su1+=1
print('su1+1=',su1,6) 
su1-=1
print('su1-1=',su1,5)
su1*=su2
print('su1*su2=',su1,25)
su1//=su2
print('su1//su2=',su1,5)
su1%=su2
print('su1%su2=',su1,0)

su1+1= 6 6
su1-1= 5 5
su1*su2= 25 25
su1//su2= 5 5
su1%su2= 0 0

In [5]:
su1=5
su2=3
su1**=su2
su1-=2
print(su1/4,123/4)
print(su1//4,123//4)
print(su1%4,123%4)

30.75 30.75
30 30
3 3

---
# 논리연산자

In [7]:
print(False or False,False)
print(True or True,True)
print(False or True,True)
print(True or True,True)

print(not(0 or 0),not(False or False),True,True)
print(not(1 or 1),not(True or True),False,False)

False False
True True
True True
True True
True True True True
False False False False

In [8]:
print(False and False,False)
print(True and False,False)
print(False and True,False)
print(True and True,True)

print(not 0,not False,True,True)
print(not 1,not True,False,False)

False False
False False
False False
True True
True True True True
False False False False