In [1]:
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
for i in range(0,3,1):
    print(i)

0
1
2

In [9]:
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [11]:
for i in range(10,-1,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [13]:
sum_=0
for i in range(11):
    sum_+=i
sum_

55

- print(end=" ") 뜻은 엔터값 대신에 공백을 넣는다.

In [24]:
for i in range(1,31):
    print(i,end="\t")
    if i%5==0:
        print("\n")

1	2	3	4	5

6	7	8	9	10

11	12	13	14	15

16	17	18	19	20

21	22	23	24	25

26	27	28	29	30

In [30]:
def _1(data):
    sum_=0
    for i in range(1,data+1):
        sum_+=i
    return sum_

def _specific(data):
    sum_odd=0
    sum_even=0
    for i in range(1,data+1):
        if i%2==1:
            sum_odd+=i
        elif i%2==0:
            sum_even+=i
    return print("sum_odd:",sum_odd,"sum_even",sum_even)

In [31]:
_specific(10)

sum_odd: 25 sum_even 30

In [35]:
i,sum_=0,0
start,en,grow=0,0,0

start=int(input("시작값 입력:"))
en=int(input("끝값 입력:"))
grow=int(input("증가값 입력:"))

for i  in range(start,en+1,grow):
    sum_+=i
    
print('{}에서{}까지{}씩 증가한 값의 합: {}'.format(start,en,grow,sum_))

시작값 입력:1
끝값 입력:10
증가값 입력:3
1에서10까지3씩 증가한 값의 합: 22

0
1
2
3
4
5
6
7
8
9

---
# Quiz

In [9]:
def _1(first,second):
    for i in range(first,second+1):
        if i%7==0:
            print(i)
            
def _2():
    sum_=0
    for i in range(1,101):
        if i%3==0 and i%5==0:
            sum_+=i
    return sum_

def _3(x,y):
    sum_=0
    k=min(x,y)
    z=max(x,y)
    for i in range(k,z+1):
        sum_+=i
    return sum_

def _4():
    sum_=10
    for i in range(2,31):
        sum_=sum_*2
    return sum_

In [8]:
_3(10,1)

55

In [10]:
for i in [1,2,3,4,5,6,7,8,9]:
    print(i)

1
2
3
4
5
6
7
8
9

In [11]:
list=[10,'test',123.132]
print('list',list)
print()
for i in list:
    print(i)
    print(type(i))

list [10, 'test', 123.132]

10
<class 'int'>
test
<class 'str'>
123.132
<class 'float'>

In [12]:
st='hello python'
for i in st:
    print(i)

h
e
l
l
o

p
y
t
h
o
n

In [14]:
st='It is a fun Python class'
a_=0
s_=0
sum_=0
for i in st:
    sum_+=1
    if i=='a':
        a_+=1
    elif i=='s':
        s_+=1
print('결과')
print('총 개수{}'.format(sum_))
print('a 개수{}'.format(a_))
print('s 개수{}'.format(s_))

결과
총 개수24
a 개수2
s 개수3

In [16]:
print("{0}+{1}={2}.format(10,2,10+2)")
print("{2}+{1}={0}.format(10,2,10+2)")
print("{}+{}={}.format(10,2,10+2)")

print('{:,}'.format(100000))

print('{:<10},왼쪽정렬,{:0<10}'.format('첫번째','두번째'))
print('{:>10},오른쪽정렬,{:9>10}'.format('첫번째','두번째'))
print('{:^10},가운데정렬,{:5^10}'.format('첫번째','두번째'))

{0}+{1}={2}.format(10,2,10+2)
{2}+{1}={0}.format(10,2,10+2)
{}+{}={}.format(10,2,10+2)
100,000
첫번째       ,왼쪽정렬,두번째0000000
       첫번째,오른쪽정렬,9999999두번째
   첫번째    ,가운데정렬,555두번째5555

In [18]:
for i in range(0,3,1):
   for k in range(0,5,1):
        print(i,k)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4

In [27]:
# 구구단
list_=[[],[],[],[],[],[],[],[],[]]
for i in range(1,10):
    for j in range(1,10):
        list_[i-1].append([i,"x",j,i*j])
        print('{} x {} = {}'.format(i,j,i*j))

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [40]:
import pandas as pd
df=pd.DataFrame(list_,index=[1,2,3,4,5,6,7,8,9],columns=[1,2,3,4,5,6,7,8,9])

In [41]:
df.T

,1,2,3,4,5,6,7,8,9
1,"[1, x, 1, 1]","[2, x, 1, 2]","[3, x, 1, 3]","[4, x, 1, 4]","[5, x, 1, 5]","[6, x, 1, 6]","[7, x, 1, 7]","[8, x, 1, 8]","[9, x, 1, 9]"
2,"[1, x, 2, 2]","[2, x, 2, 4]","[3, x, 2, 6]","[4, x, 2, 8]","[5, x, 2, 10]","[6, x, 2, 12]","[7, x, 2, 14]","[8, x, 2, 16]","[9, x, 2, 18]"
3,"[1, x, 3, 3]","[2, x, 3, 6]","[3, x, 3, 9]","[4, x, 3, 12]","[5, x, 3, 15]","[6, x, 3, 18]","[7, x, 3, 21]","[8, x, 3, 24]","[9, x, 3, 27]"
4,"[1, x, 4, 4]","[2, x, 4, 8]","[3, x, 4, 12]","[4, x, 4, 16]","[5, x, 4, 20]","[6, x, 4, 24]","[7, x, 4, 28]","[8, x, 4, 32]","[9, x, 4, 36]"
5,"[1, x, 5, 5]","[2, x, 5, 10]","[3, x, 5, 15]","[4, x, 5, 20]","[5, x, 5, 25]","[6, x, 5, 30]","[7, x, 5, 35]","[8, x, 5, 40]","[9, x, 5, 45]"
6,"[1, x, 6, 6]","[2, x, 6, 12]","[3, x, 6, 18]","[4, x, 6, 24]","[5, x, 6, 30]","[6, x, 6, 36]","[7, x, 6, 42]","[8, x, 6, 48]","[9, x, 6, 54]"
7,"[1, x, 7, 7]","[2, x, 7, 14]","[3, x, 7, 21]","[4, x, 7, 28]","[5, x, 7, 35]","[6, x, 7, 42]","[7, x, 7, 49]","[8, x, 7, 56]","[9, x, 7, 63]"
8,"[1, x, 8, 8]","[2, x, 8, 16]","[3, x, 8, 24]","[4, x, 8, 32]","[5, x, 8, 40]","[6, x, 8, 48]","[7, x, 8, 56]","[8, x, 8, 64]","[9, x, 8, 72]"
9,"[1, x, 9, 9]","[2, x, 9, 18]","[3, x, 9, 27]","[4, x, 9, 36]","[5, x, 9, 45]","[6, x, 9, 54]","[7, x, 9, 63]","[8, x, 9, 72]","[9, x, 9, 81]"

In [45]:
for i in range(5):
    for j in range(5):
        print(i*j,end=" ")
    print('\n')

0 0 0 0 0

0 1 2 3 4

0 2 4 6 8

0 3 6 9 12

0 4 8 12 16

In [50]:
for i in range(5):
    for j in range(1,6):
        print(j+(i*5),end='\t')
    print('\n')

1	2	3	4	5

6	7	8	9	10

11	12	13	14	15

16	17	18	19	20

21	22	23	24	25

In [51]:
i=0
while i<5:
    print(i,'종속 문장')
    i+=1
    
print('다음 문장')

0 종속 문장
1 종속 문장
2 종속 문장
3 종속 문장
4 종속 문장
다음 문장

In [52]:
for i in range(5):
    print(i,'종속 문장')
print('다음 문장')

0 종속 문장
1 종속 문장
2 종속 문장
3 종속 문장
4 종속 문장
다음 문장

In [56]:
i=1
odd,even=0,0
while i<=10:
    if i%2==0:
        even+=i
    else :
        odd+=i
    i+=1
    
print(even)
print(odd)

30
25

In [57]:
odd,even=0,0
for i in range(1,11):
    if i%2==0:
        even+=i
    else :
        odd+=i
print(even)
print(odd)

30
25

In [58]:
i=0
while i<5:
    print(i)
    i+=1
else :
    print(i)
print('next')

0
1
2
3
4
5
next

In [1]:
i=1
flag=True
while flag:
    print(i)
    if i ==10:
        flag=False
    i+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i=0
while i<=5:
    if i==3:
        continue
    print(i)
    i+=1

0
1
2

In [1]:
for i in range(5):
    if i ==2:
        continue
    print(i)

0
1
3
4

In [1]:
num,result,i=0,0,1
while True:
    num=int(input('1~10사이의 숫자 입력:'))
    if num<1 or num>10:
        print('잘 못 입력 다시')
        continue
    break
else:
    print('next')
while i<=num:
    result+=i
    i+=1
else:
    print(num,result)

1~10사이의 숫자 입력:1
1 1

---
# Quiz

In [13]:
i=0
while i<4:
    k=0
    while k<6:
        if k==3:
            break
        print(i,k)
        k+=1
    i+=1

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2

In [6]:
mouse_number=2
rice_number=100
day=1
rice_amount=100*1000
while day>0:
    rice_amount=rice_amount-(20*mouse_number)
    if day%10==0:
        mouse_number=mouse_number*2
    if rice_amount<0:
        break
    day+=1
print(mouse_number)
print(day)

512
80

In [4]:
while True:
    money=int(input('요금을 투입하세요:'))
    if money<0:
        print('금액을 정확히 입력하세요')
        continue
    break
        
print('========== 커피 자판기 ==========\n')
print('1. 커피<200>\t2. 코코아<250>\t3. 반환\t4. 종료')
while True:    
    menu=input('메뉴를 선택하세요\n')
    if menu not in ['커피','코코아','반환','종료']:
        print('error')
        continue
    break
if menu=='커피':
    print('맛있게 드십시오. 잔돈은 {} 입니다'.format(money-200))
elif menu=='코코아':
    print('맛있게 드십시오. 잔돈은 {} 입니다'.format(money-250))
elif menu=='반환':
    print('돈을 반환합니다. 잔돈을 챙겨가세요')
elif menu=='종료':
    print('종료합니다.')

요금을 투입하세요:200000
========== 커피 자판기 ==========

1. 커피<200>	2. 코코아<250>	3. 반환	4. 종료
메뉴를 선택하세요
반환
돈을 반환합니다. 잔돈을 챙겨가세요