In [1]:
for i in range(1,11,1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
for i in range(0,3,1):
    print(i)

0
1
2

In [9]:
for i in range(1,11):
    if i%2==0:
        print(i)

2
4
6
8
10

In [11]:
for i in range(10,-1,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1
0

In [13]:
sum_=0
for i in range(11):
    sum_+=i
sum_

55

- print(end=" ") 뜻은 엔터값 대신에 공백을 넣는다.

In [24]:
for i in range(1,31):
    print(i,end="\t")
    if i%5==0:
        print("\n")

1	2	3	4	5

6	7	8	9	10

11	12	13	14	15

16	17	18	19	20

21	22	23	24	25

26	27	28	29	30

In [30]:
def _1(data):
    sum_=0
    for i in range(1,data+1):
        sum_+=i
    return sum_

def _specific(data):
    sum_odd=0
    sum_even=0
    for i in range(1,data+1):
        if i%2==1:
            sum_odd+=i
        elif i%2==0:
            sum_even+=i
    return print("sum_odd:",sum_odd,"sum_even",sum_even)

In [31]:
_specific(10)

sum_odd: 25 sum_even 30

In [35]:
i,sum_=0,0
start,en,grow=0,0,0

start=int(input("시작값 입력:"))
en=int(input("끝값 입력:"))
grow=int(input("증가값 입력:"))

for i  in range(start,en+1,grow):
    sum_+=i
    
print('{}에서{}까지{}씩 증가한 값의 합: {}'.format(start,en,grow,sum_))

시작값 입력:1
끝값 입력:10
증가값 입력:3
1에서10까지3씩 증가한 값의 합: 22

0
1
2
3
4
5
6
7
8
9

---
# Quiz

In [67]:
def _1(first,second):
    for i in range(first,second+1):
        if i%7==0:
            print(i)
            
def _2():
    sum_=0
    for i in range(1,101):
        if i%3==0 and i%5==0:
            sum_+=i
    return sum_

def _3(x,y):
    sum_=0
    for i in range(x,y+1):
        sum_+=i
    return sum_

def _4():
    sum_=10
    for i in range(1,31):
        sum_=sum_*2
    return sum_