In [4]:
tp1=10,20,30
print('tp1:',tp1)
print(type(tp1))
print(type(tp1[0]))

#tp1[0]=100

tp1: (10, 20, 30)
<class 'tuple'>
<class 'int'>

In [6]:
tpint=(10)
print(type(tpint))

tpT1=(10,)
print(type(tpT1))

tpT2=10,
print(type(tpT2))

<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [7]:
tt1=(10,20,30,40)
tt2=tt1[0]+tt1[1]+tt1[2]+tt1[3]
print(tt2)


print(tt1[1:3])
print(tt1[1:])
print(tt1[:3])

100
(20, 30)
(20, 30, 40)
(10, 20, 30)

In [8]:
a=1,2,3
b=4,5,6
c=a+b

print(a)
print(b)
print(c)

(1, 2, 3)
(4, 5, 6)
(1, 2, 3, 4, 5, 6)

In [9]:
import numpy as np
a1=np.array([1,2,3])
a2=np.array([3,4,5])
a1+a2

array([4, 6, 8])

In [12]:
pack=1,2,'패킹',4,6,7,8
print('pack')

a,b,*c=pack
print(a,b,c)
c.insert(1,2)

pack
1 2 ['패킹', 4, 6, 7, 8]

In [19]:
tp=100,200,'함수',100,'개수'
print(tp.index(200))
print(tp.count(100))

1
2

In [3]:
def _1():
    tuple_='가','나','다','라','마'
    list_=[]
    for i in tuple_:
        print(i)
        list_.append(i)
    return list_

def _2():
    tuple_='회사정보','제품명','가격정보','출시일'
    list_=[]
    for i in range(4):
        list_.append(input("{}:".format(tuple_[i])))
    return print(tuple_[0],'\t:',list_[0],"\n",
                tuple_[1],'\t:',list_[1],"\n",
                tuple_[2],'\t:',list_[2],"\n",
                tuple_[3],'\t:',list_[3],"\n",)

def _3():
    tuple_='회사정보','제품명','가격정보','출시일'
    list_=[]
    for i in range(4):
        list_.append(input("{}:".format(tuple_[i])))
    list_.remove('100원')
    list_.insert(2,'110원')
    return print(tuple_[0],'\t',':',list_[0],"\n",
                tuple_[1],'\t',':',list_[1],"\n",
                tuple_[2],'\t',':',list_[2],"\n",
                tuple_[3],'\t',':',list_[3],"\n",)

In [33]:
_1()

가
나
다
라
마

['가', '나', '다', '라', '마']

In [34]:
_2()

회사정보:
제품명:
가격정보:
출시일:
회사정보 	:
 제품명 	:
 가격정보 	:
 출시일 	:

In [4]:
_3()

회사정보:삼성전자
제품명:갤럭시
가격정보:100원
출시일:미정
회사정보 	 : 삼성전자
 제품명 	 : 갤럭시
 가격정보 	 : 110원
 출시일 	 : 미정